<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>

    <%- include("./partials/imports.ejs") %>

    <!-- ! CSS -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/basic.css">

</head>
<body>

    <!-- !Navbar -->

    <%- include("./partials/navbar.ejs") %>

    <!-- ! Navbar end -->



    <center>
        <br>
        <h5 class="foot-caption">With <i class="fas fa-heart"></i> citizens.</h5>
        <br>
      </center>
  
      <!-- ! Footer -->
      <%- include("./partials/footer.ejs") %>
    
</body>
</html>