<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelpTogethert</title>

    <%- include("./partials/imports.ejs") %>

    <!-- ! CSS -->
    <link rel="stylesheet" href="css/fallback.css">
    <link rel="stylesheet" href="css/basic.css">

</head>
<body>

    <!-- !Navbar -->

    <%- include("./partials/navbar.ejs") %>

    <!-- ! Navbar end -->

    <center>
        <img src="assets/fallback.png" alt="" class="fallback-pic">
        <h2>OOP's cant view offline !</h2>
    </center>



    <!-- ! Footer -->
    <%- include("./partials/footer.ejs") %>
    
</body>
</html>