@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

a{
    text-decoration: none;
    color: #000000;
}
a:hover{
    text-decoration: none;
    color: #000000;
}

body{
    background-color: #f3f2f2;
}


/* ! Navbar */
.logo-pic{
    height: 80px;
    margin-left: -20px;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    outline: none;
}
.navigation{
    background-color: #29bb89;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px 0px, rgb(218,220,224) 0px -1px 0px 0px inset;
}
.navigation .brand-name{
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.navigation .brand-name:hover{
    color: #ffffff;
}
.navigation .nav-options{
    color: #ffffff;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.navigation .nav-options:hover{
    text-decoration: none;
}

i{
    font-size: 20px;
}


/* ! Foot caption */
.foot-caption i{
    color: red;
}

/* !Footer */
.footer{
    background-color: #29bb89;
    bottom: 0;
}
.foot-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}
/* .foot-content h5{
    margin: 10px 20px;
} */
.foot-content i{
    margin: 5px 20px;
    font-size: 25px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    color: #29bb89;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px 0px, rgb(218,220,224) 0px -1px 0px 0px inset;
    /* margin-top: 10px;
    font-size: 30px;
    margin-left: -10px; */
}

/* ! Media queries */
@media (max-width: 600px) {

    .logo-pic{
        height: 60px;
    }

    /* !Footer */

    .foot-content h5{
        margin: 5px 10px;
    }
    .foot-content i{
        margin-top: 4px;
        font-size: 30px;
        margin-left: -5px;
    }
}



